# Copyright (c) 2017, Code Aurora Forum. All rights reserved.

# fingerprint unlock with screen off by default
write /sys/devices/soc/soc:fpc_fpc1020/enable_wakeup 1

# add support for spectrum
import /init.spectrum.rc
